@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --white: #FFF;
    --cinza: #C0C0C0;
    --azul: #167BF7;
    --black: #00030C;
    --fonte-principal: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("../assets/Background.svg");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--azul);
    border-radius: 16px;
    padding: 1em;
    color: var(--white);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__botao__secundario{
    padding: 1em;
    border-radius: 16px;
    display: block;
    border: solid 2px var(--white);
    background-color: transparent;
    color: var(--white);
    text-decoration: none;
    margin-bottom: 1em;
}

.container__aviso {
    color: var(--cinza);
    font-size: 12px;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem {
    width: 80%;
}

.container__descricao {

}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza);
}